* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato", sans-serif;
  text-decoration: none;
}

#grid-area-body {
  display: grid;
  grid-template-areas: "cabeza" "principal" "pie";
}

header {
  grid-area: cabeza;
}

main {
  grid-area: principal;
}

footer {
  grid-area: pie;
}

.navbar-brand {
  width: 150px;
  height: 100px;
  padding: 0%;
  margin: 0%;
}
.navbar-brand img {
  width: 150px;
  height: 100px;
}

.titulo {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.85);
}

/*--------------menu bar--------------*/
nav a {
  text-decoration: none;
  color: #6d6d6d;
  display: block;
  padding: 0px 20px;
  transition: all 500ms ease;
}
nav a:hover {
  background: #1572A1;
  color: #fff;
}
nav ul {
  padding: 0;
  list-style: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  flex: auto;
}
nav li {
  position: relative;
  line-height: 3rem;
}
nav li ul {
  position: absolute;
}
nav ul ul ul {
  display: none;
}
nav li ul {
  display: none;
}
nav li:hover > ul {
  display: block;
}
nav > ul {
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  flex: auto;
}
nav > ul > li {
  float: left;
}
nav li li {
  background: #fff;
}
nav > ul > li > ul {
  top: 100%;
}
nav ul ul ul {
  left: 100%;
  top: 0;
}

body {
  background-color: whitesmoke;
}

/*------publicidad-------*/
.about {
  width: 100vw;
}
.about .about-nvidia {
  display: flex;
  height: 50%;
  position: relative;
  transition: all 0.25s ease;
}
.about .about-nvidia:hover {
  display: flex;
  height: 50%;
  position: relative;
  transform: translateY(-15px);
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2);
}
.about .about-amd {
  display: flex;
  height: 50%;
  position: relative;
  transition: all 0.25s ease;
}
.about .about-amd:hover {
  display: flex;
  height: 50%;
  position: relative;
  transform: translateY(-15px);
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2);
}
.about h2 {
  text-align: left;
  padding: 0%;
  margin: 0%;
}

/*-----------contacto------------*/
/*------------nosotros-----------*/
/*-----------Q&A------------*/
main h1 {
  padding: 5%;
  text-align: center;
}

main h2 {
  text-align: center;
  padding: 5%;
}

/*--------------Q&A--------------*/
.qanda-container {
  width: 100vw;
  margin-left: 5%;
  margin-right: 5%;
  padding: 1%;
  margin: auto;
}
.qanda-container h2 {
  margin-bottom: 1%;
  margin-top: 1%;
  padding: 0%;
}

/*---------producto----------*/
.product-container {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 5px;
  transition: all 500ms ease;
}
.product-container:hover {
  box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 500ms ease;
}
.product-container h3 {
  font-size: large;
  font-weight: lighter;
}
.product-container img {
  width: 100%;
  object-fit: cover;
}

/*-------footer--------*/
footer h5 {
  font-size: medium;
}

/*---------menu responsive----------*/
@media screen and (max-width: 480px) {
  /*-------logo-------*/
  .navbar-brand {
    float: left;
    width: 100px;
    height: 50px;
  }
  .navbar-brand img {
    width: 100px;
    height: 50px;
    float: left;
  }

  /*------publicidad-------*/
  .about-amd {
    display: flex;
    margin-left: 1%;
    margin-right: 1%;
    height: 50%;
    position: relative;
  }

  .about-nvidia {
    display: flex;
    margin-left: 1%;
    margin-right: 1%;
    height: 50%;
    position: relative;
  }
}
@media (min-width: 481px) and (max-width: 1023px) {
  /*-----logo------*/
  .navbar-brand {
    float: left;
    width: 140px;
    height: 70px;
  }
  .navbar-brand img {
    width: 140px;
    height: 70px;
    float: left;
  }

  /*-----menu tablet------*/
  nav > ul {
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    flex: auto;
    font-size: 63%;
  }
}

/*# sourceMappingURL=style.css.map */
